@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

body {
  background-color: lightgray;
  height: 100vh;
  background-image: url(./src/css-grids/ben-klea-QF8qP_pWMvs-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 15px;
}

header {
  height: 600px;
  width: 100%;
  border: 1px solid red;
  background-color: rgb(100, 100, 100, .5);
  display: flex;
  flex-direction: row;
}

#image-wrap {
  flex: 1;
  border: 1px solid red;
}

.header-title {
  flex: 3;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title h1 {
  font-size: 70px;
  letter-spacing: .2rem;
  font-family: 'roboto mono'
  font-weight: 500;
}

.header-title h3 {
  font-size: 24px;
  font-family: monospace;
}

.navbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.navlinks {
  /* border: 2px inset; */
  /* border-radius: 2px; */
  flex: 1;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(48, 48, 48, .8);
  /* background-color: transparent; */
  color: rgb(209, 209, 209);
  transition: background-color .7s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.navlinks:hover {
  color: white;
  background-color: rgb(48,48,48, .9);
  border-top: 2px outset orange;
  transform: translateY(-3px);
  transition: transform .7s;
}

main {
  border: 2px solid orange;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.media-bar {
  border: 1px solid greenyellow;
  flex: 1;
}

.projects-bar {
  border: 1px solid powderblue;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.media-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-bar .projects {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: rgb(192, 192, 192, .8);
  margin: 20px;
}