body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

aside h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: lightgray;
    margin: 0 auto;
}

main h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3a3a3c;
    font-size: 48px;
}

main h2 {
    font-family: monospace;
    font-size: 28px;
    color: #3a3a3c;
    margin-left: 18%;
    margin-right: 18%;
    border-bottom: 2px solid gray;
}

ul {
    margin: 5 auto;
    list-style-type: square;
}

.main-container {
    background: #eeeeee;
    border-radius: 2px;
    width: 100vw;
    height: 100vh;
}

aside {
    height: 100vh;
    width: 25vw;
    background-color: #3a3a3c;
    float: left;
}

aside section {
    border: 2px solid black;
    border-radius: 4px;
    margin: 6px 10px 6px 10px;
    padding: 4px 7px 4px 7px;
}

#pic-container-centered {
    text-align: center;
    padding: 6%;
}

#profile-pic-blog {
    height: auto;
    width: 80%;
    min-width: 125px;
    text-align: center;
    border-radius: 50%;
}

#main-content {
    height: 100vh;
    width: 75vw;
    float: right;
    background-color: whitesmoke;
    color: #2a2a2c;
}

header {
    width: 75vw;
    height: 30vh;
    min-width: 250px;
    text-align: center;
    border-bottom: 1px solid gray;
}

header h3{
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#experience {
    background-color: white;
    height: 65vh;
    width: 37.5vw;
    float: left;
    text-align: left;
}

#education {
    background-color: white;
    height: 65vh;
    width: 37.5vw;
    float: right;
    text-align: left;
}

section ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 5%;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(185, 185, 185);
}

a:hover {
    color: white;
}