body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

aside h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: lightgray;
    margin: 0 auto;
}

main h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3c;
    font-size: 48px;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #3a3a3c;
    border-bottom: 2px solid gray;
    border-bottom-style: double;
}

ul {
    margin: 5 auto;
    list-style-type: square;
}

.main-container {
    background: #eeeeee;
    border-radius: 2px;
    width: 100vw;
    height: 100vh;
}

aside {
    height: 100vh;
    width: 25%;
    background-color: #3a3a3c;
    float: left;
}

aside section {
    border: 1px solid black;
    border-radius: 4px;
    margin: 6px 10px 6px 10px;
    padding: 4px 7px 4px 7px;
}

#pic-container-centered {
    text-align: center;
    padding: 6%;
}

#profile-pic-blog {
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
}

#main-content {
    height: 100vh;
    width: 75%;
    float: right;
    background-color: lightgray;
    color: #2a2a2c;
}

header {
    width: 75vw;
    height: 30vh;
    min-width: 250px;
    text-align: center;
}

header h3{
    font-size: 34px;
}

#experience {
    background-color: white;
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
}

#education {
    background-color: white;
    height: 100%;
    width: 50%;
    float: right;
    text-align: center;
}

.aboutme ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: lightgray;
}

a:hover {
    color: white;
}