* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  width: 700px;
  height: 450px;
  border: 8px outset lightgray;
  background-image: url();
  background-size: contain;
}