.main-container {
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  border: 6px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.clickBox {
  height: 100%;
  width: 100%;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: monospace;
  box-sizing: border-box;
}