body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 486px 360px;
}

/* ***Header bar, top of page*** */

.header-wrap {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 5%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25%;
  margin-bottom: 2%;
  padding: 0;
}

.header-links {
  list-style-type: none;
  margin: 0 20px;
}

.header-links a {
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.header-links a:hover {
  color: #0ba39c;
}

/* ***First image section with rows of descriptions*** */

.featured {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.featured img {
  height: 485px;
  margin: 0;
  padding: 0;
}

.featured-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Righteous', cursive;
  font-weight: bold;
}

.featured-right h2 {
  background-color: white;
  display: inline;
  font-size: 22px;
  padding: 20px 30px;
}

.featured-right div {
  background-color: #252525;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 10px 0;
  color: white;
}

.featured-right a {
  text-decoration: none;
  background-color: #0ba39c;
  padding: 20px;
  margin-top: 10px;
  color: white;
}

.featured-right a:hover {
  background-color: #1fc3bc;
}

/* ***Lower section, Style previews*** */

.hairstyles {
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: lightgray;
}

.hairstyles {
  border: 1px solid red;
}

.pictures-row {
  border: 1px solid green;
}

.pictures {
  border: 1px solid yellowgreen;
}