* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

main.main-container {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 2% 1fr 2%;
    grid-template-rows: ;
}

.aside-nav {
    
    background: #24c0cd;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 7%;
}

.main-dash {
    grid-column: 3/4;
    background: #e6e6e6;
    grid-template-columns: 100%;
    grid-template-rows: 20% 7% 2%;
}